# coding: utf-8

"""
    grafeas.proto

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: version not set
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from grafeas.api_client import ApiClient


class GrafeasV1Beta1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def grafeas_v1_beta1_batch_create_notes(self, parent, body, **kwargs):  # noqa: E501
        """Creates new notes in batch.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_batch_create_notes(parent, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created. (required)
        :param Body body: (required)
        :return: V1beta1BatchCreateNotesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_batch_create_notes_with_http_info(parent, body, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_batch_create_notes_with_http_info(parent, body, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_batch_create_notes_with_http_info(self, parent, body, **kwargs):  # noqa: E501
        """Creates new notes in batch.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_batch_create_notes_with_http_info(parent, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created. (required)
        :param Body body: (required)
        :return: V1beta1BatchCreateNotesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_batch_create_notes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent' is set
        if ('parent' not in params or
                params['parent'] is None):
            raise ValueError("Missing the required parameter `parent` when calling `grafeas_v1_beta1_batch_create_notes`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `grafeas_v1_beta1_batch_create_notes`")  # noqa: E501

        if 'parent' in params and not re.search(r'projects\/[^\/]+', params['parent']):  # noqa: E501
            raise ValueError("Invalid value for parameter `parent` when calling `grafeas_v1_beta1_batch_create_notes`, must conform to the pattern `/projects\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'parent' in params:
            path_params['parent'] = params['parent']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{parent}/notes:batchCreate', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1BatchCreateNotesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_batch_create_occurrences(self, parent, body, **kwargs):  # noqa: E501
        """Creates new occurrences in batch.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_batch_create_occurrences(parent, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created. (required)
        :param Body1 body: (required)
        :return: V1beta1BatchCreateOccurrencesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_batch_create_occurrences_with_http_info(parent, body, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_batch_create_occurrences_with_http_info(parent, body, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_batch_create_occurrences_with_http_info(self, parent, body, **kwargs):  # noqa: E501
        """Creates new occurrences in batch.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_batch_create_occurrences_with_http_info(parent, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created. (required)
        :param Body1 body: (required)
        :return: V1beta1BatchCreateOccurrencesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_batch_create_occurrences" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent' is set
        if ('parent' not in params or
                params['parent'] is None):
            raise ValueError("Missing the required parameter `parent` when calling `grafeas_v1_beta1_batch_create_occurrences`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `grafeas_v1_beta1_batch_create_occurrences`")  # noqa: E501

        if 'parent' in params and not re.search(r'projects\/[^\/]+', params['parent']):  # noqa: E501
            raise ValueError("Invalid value for parameter `parent` when calling `grafeas_v1_beta1_batch_create_occurrences`, must conform to the pattern `/projects\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'parent' in params:
            path_params['parent'] = params['parent']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{parent}/occurrences:batchCreate', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1BatchCreateOccurrencesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_create_note(self, parent, body, note_id, **kwargs):  # noqa: E501
        """Creates a new note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_create_note(parent, body, note_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created. (required)
        :param V1beta1Note body: The note to create. (required)
        :param str note_id: The ID to use for this note. (required)
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_create_note_with_http_info(parent, body, note_id, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_create_note_with_http_info(parent, body, note_id, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_create_note_with_http_info(self, parent, body, note_id, **kwargs):  # noqa: E501
        """Creates a new note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_create_note_with_http_info(parent, body, note_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created. (required)
        :param V1beta1Note body: The note to create. (required)
        :param str note_id: The ID to use for this note. (required)
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'body', 'note_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_create_note" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent' is set
        if ('parent' not in params or
                params['parent'] is None):
            raise ValueError("Missing the required parameter `parent` when calling `grafeas_v1_beta1_create_note`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `grafeas_v1_beta1_create_note`")  # noqa: E501
        # verify the required parameter 'note_id' is set
        if ('note_id' not in params or
                params['note_id'] is None):
            raise ValueError("Missing the required parameter `note_id` when calling `grafeas_v1_beta1_create_note`")  # noqa: E501

        if 'parent' in params and not re.search(r'projects\/[^\/]+', params['parent']):  # noqa: E501
            raise ValueError("Invalid value for parameter `parent` when calling `grafeas_v1_beta1_create_note`, must conform to the pattern `/projects\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'parent' in params:
            path_params['parent'] = params['parent']  # noqa: E501

        query_params = []
        if 'note_id' in params:
            query_params.append(('noteId', params['note_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{parent}/notes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1Note',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_create_occurrence(self, parent, body, **kwargs):  # noqa: E501
        """Creates a new occurrence.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_create_occurrence(parent, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created. (required)
        :param V1beta1Occurrence body: The occurrence to create. (required)
        :return: V1beta1Occurrence
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_create_occurrence_with_http_info(parent, body, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_create_occurrence_with_http_info(parent, body, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_create_occurrence_with_http_info(self, parent, body, **kwargs):  # noqa: E501
        """Creates a new occurrence.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_create_occurrence_with_http_info(parent, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created. (required)
        :param V1beta1Occurrence body: The occurrence to create. (required)
        :return: V1beta1Occurrence
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_create_occurrence" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent' is set
        if ('parent' not in params or
                params['parent'] is None):
            raise ValueError("Missing the required parameter `parent` when calling `grafeas_v1_beta1_create_occurrence`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `grafeas_v1_beta1_create_occurrence`")  # noqa: E501

        if 'parent' in params and not re.search(r'projects\/[^\/]+', params['parent']):  # noqa: E501
            raise ValueError("Invalid value for parameter `parent` when calling `grafeas_v1_beta1_create_occurrence`, must conform to the pattern `/projects\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'parent' in params:
            path_params['parent'] = params['parent']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{parent}/occurrences', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1Occurrence',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_delete_note(self, name_1, **kwargs):  # noqa: E501
        """Deletes the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_delete_note(name_1, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_1: The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_delete_note_with_http_info(name_1, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_delete_note_with_http_info(name_1, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_delete_note_with_http_info(self, name_1, **kwargs):  # noqa: E501
        """Deletes the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_delete_note_with_http_info(name_1, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_1: The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name_1']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_delete_note" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name_1' is set
        if ('name_1' not in params or
                params['name_1'] is None):
            raise ValueError("Missing the required parameter `name_1` when calling `grafeas_v1_beta1_delete_note`")  # noqa: E501

        if 'name_1' in params and not re.search(r'projects\/[^\/]+\/notes\/[^\/]+', params['name_1']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name_1` when calling `grafeas_v1_beta1_delete_note`, must conform to the pattern `/projects\/[^\/]+\/notes\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name_1' in params:
            path_params['name_1'] = params['name_1']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name_1}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_delete_occurrence(self, name, **kwargs):  # noqa: E501
        """Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_delete_occurrence(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_delete_occurrence_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_delete_occurrence_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_delete_occurrence_with_http_info(self, name, **kwargs):  # noqa: E501
        """Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_delete_occurrence_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_delete_occurrence" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `grafeas_v1_beta1_delete_occurrence`")  # noqa: E501

        if 'name' in params and not re.search(r'projects\/[^\/]+\/occurrences\/[^\/]+', params['name']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name` when calling `grafeas_v1_beta1_delete_occurrence`, must conform to the pattern `/projects\/[^\/]+\/occurrences\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_get_note(self, name_1, **kwargs):  # noqa: E501
        """Gets the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_note(name_1, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_1: The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_get_note_with_http_info(name_1, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_get_note_with_http_info(name_1, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_get_note_with_http_info(self, name_1, **kwargs):  # noqa: E501
        """Gets the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_note_with_http_info(name_1, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_1: The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name_1']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_get_note" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name_1' is set
        if ('name_1' not in params or
                params['name_1'] is None):
            raise ValueError("Missing the required parameter `name_1` when calling `grafeas_v1_beta1_get_note`")  # noqa: E501

        if 'name_1' in params and not re.search(r'projects\/[^\/]+\/notes\/[^\/]+', params['name_1']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name_1` when calling `grafeas_v1_beta1_get_note`, must conform to the pattern `/projects\/[^\/]+\/notes\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name_1' in params:
            path_params['name_1'] = params['name_1']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name_1}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1Note',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_get_occurrence(self, name, **kwargs):  # noqa: E501
        """Gets the specified occurrence.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_occurrence(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :return: V1beta1Occurrence
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_get_occurrence_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_get_occurrence_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_get_occurrence_with_http_info(self, name, **kwargs):  # noqa: E501
        """Gets the specified occurrence.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_occurrence_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :return: V1beta1Occurrence
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_get_occurrence" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `grafeas_v1_beta1_get_occurrence`")  # noqa: E501

        if 'name' in params and not re.search(r'projects\/[^\/]+\/occurrences\/[^\/]+', params['name']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name` when calling `grafeas_v1_beta1_get_occurrence`, must conform to the pattern `/projects\/[^\/]+\/occurrences\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1Occurrence',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_get_occurrence_note(self, name, **kwargs):  # noqa: E501
        """Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_occurrence_note(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_get_occurrence_note_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_get_occurrence_note_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_get_occurrence_note_with_http_info(self, name, **kwargs):  # noqa: E501
        """Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_occurrence_note_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_get_occurrence_note" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `grafeas_v1_beta1_get_occurrence_note`")  # noqa: E501

        if 'name' in params and not re.search(r'projects\/[^\/]+\/occurrences\/[^\/]+', params['name']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name` when calling `grafeas_v1_beta1_get_occurrence_note`, must conform to the pattern `/projects\/[^\/]+\/occurrences\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name}/notes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1Note',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_get_vulnerability_occurrences_summary(self, parent, **kwargs):  # noqa: E501
        """Gets a summary of the number and severity of occurrences.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_vulnerability_occurrences_summary(parent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`. (required)
        :param str filter: The filter expression.
        :return: V1beta1VulnerabilityOccurrencesSummary
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_get_vulnerability_occurrences_summary_with_http_info(parent, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_get_vulnerability_occurrences_summary_with_http_info(parent, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_get_vulnerability_occurrences_summary_with_http_info(self, parent, **kwargs):  # noqa: E501
        """Gets a summary of the number and severity of occurrences.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_get_vulnerability_occurrences_summary_with_http_info(parent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`. (required)
        :param str filter: The filter expression.
        :return: V1beta1VulnerabilityOccurrencesSummary
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'filter']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_get_vulnerability_occurrences_summary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent' is set
        if ('parent' not in params or
                params['parent'] is None):
            raise ValueError("Missing the required parameter `parent` when calling `grafeas_v1_beta1_get_vulnerability_occurrences_summary`")  # noqa: E501

        if 'parent' in params and not re.search(r'projects\/[^\/]+', params['parent']):  # noqa: E501
            raise ValueError("Invalid value for parameter `parent` when calling `grafeas_v1_beta1_get_vulnerability_occurrences_summary`, must conform to the pattern `/projects\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'parent' in params:
            path_params['parent'] = params['parent']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{parent}/occurrences:vulnerabilitySummary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1VulnerabilityOccurrencesSummary',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_list_note_occurrences(self, name, **kwargs):  # noqa: E501
        """Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_list_note_occurrences(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :param str filter: The filter expression.
        :param int page_size: Number of occurrences to return in the list.
        :param str page_token: Token to provide to skip to a particular spot in the list.
        :return: V1beta1ListNoteOccurrencesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_list_note_occurrences_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_list_note_occurrences_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_list_note_occurrences_with_http_info(self, name, **kwargs):  # noqa: E501
        """Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_list_note_occurrences_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :param str filter: The filter expression.
        :param int page_size: Number of occurrences to return in the list.
        :param str page_token: Token to provide to skip to a particular spot in the list.
        :return: V1beta1ListNoteOccurrencesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'filter', 'page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_list_note_occurrences" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `grafeas_v1_beta1_list_note_occurrences`")  # noqa: E501

        if 'name' in params and not re.search(r'projects\/[^\/]+\/notes\/[^\/]+', params['name']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name` when calling `grafeas_v1_beta1_list_note_occurrences`, must conform to the pattern `/projects\/[^\/]+\/notes\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name}/occurrences', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1ListNoteOccurrencesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_list_notes(self, parent, **kwargs):  # noqa: E501
        """Lists notes for the specified project.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_list_notes(parent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project to list notes for in the form of `projects/[PROJECT_ID]`. (required)
        :param str filter: The filter expression.
        :param int page_size: Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.
        :param str page_token: Token to provide to skip to a particular spot in the list.
        :return: V1beta1ListNotesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_list_notes_with_http_info(parent, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_list_notes_with_http_info(parent, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_list_notes_with_http_info(self, parent, **kwargs):  # noqa: E501
        """Lists notes for the specified project.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_list_notes_with_http_info(parent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project to list notes for in the form of `projects/[PROJECT_ID]`. (required)
        :param str filter: The filter expression.
        :param int page_size: Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.
        :param str page_token: Token to provide to skip to a particular spot in the list.
        :return: V1beta1ListNotesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'filter', 'page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_list_notes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent' is set
        if ('parent' not in params or
                params['parent'] is None):
            raise ValueError("Missing the required parameter `parent` when calling `grafeas_v1_beta1_list_notes`")  # noqa: E501

        if 'parent' in params and not re.search(r'projects\/[^\/]+', params['parent']):  # noqa: E501
            raise ValueError("Invalid value for parameter `parent` when calling `grafeas_v1_beta1_list_notes`, must conform to the pattern `/projects\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'parent' in params:
            path_params['parent'] = params['parent']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{parent}/notes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1ListNotesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_list_occurrences(self, parent, **kwargs):  # noqa: E501
        """Lists occurrences for the specified project.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_list_occurrences(parent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`. (required)
        :param str filter: The filter expression.
        :param int page_size: Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.
        :param str page_token: Token to provide to skip to a particular spot in the list.
        :return: V1beta1ListOccurrencesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_list_occurrences_with_http_info(parent, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_list_occurrences_with_http_info(parent, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_list_occurrences_with_http_info(self, parent, **kwargs):  # noqa: E501
        """Lists occurrences for the specified project.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_list_occurrences_with_http_info(parent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent: The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`. (required)
        :param str filter: The filter expression.
        :param int page_size: Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.
        :param str page_token: Token to provide to skip to a particular spot in the list.
        :return: V1beta1ListOccurrencesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent', 'filter', 'page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_list_occurrences" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent' is set
        if ('parent' not in params or
                params['parent'] is None):
            raise ValueError("Missing the required parameter `parent` when calling `grafeas_v1_beta1_list_occurrences`")  # noqa: E501

        if 'parent' in params and not re.search(r'projects\/[^\/]+', params['parent']):  # noqa: E501
            raise ValueError("Invalid value for parameter `parent` when calling `grafeas_v1_beta1_list_occurrences`, must conform to the pattern `/projects\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'parent' in params:
            path_params['parent'] = params['parent']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{parent}/occurrences', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1ListOccurrencesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_update_note(self, name_1, body, **kwargs):  # noqa: E501
        """Updates the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_update_note(name_1, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_1: The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :param V1beta1Note body: The updated note. (required)
        :param str update_mask: The fields to update.
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_update_note_with_http_info(name_1, body, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_update_note_with_http_info(name_1, body, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_update_note_with_http_info(self, name_1, body, **kwargs):  # noqa: E501
        """Updates the specified note.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_update_note_with_http_info(name_1, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name_1: The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. (required)
        :param V1beta1Note body: The updated note. (required)
        :param str update_mask: The fields to update.
        :return: V1beta1Note
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name_1', 'body', 'update_mask']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_update_note" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name_1' is set
        if ('name_1' not in params or
                params['name_1'] is None):
            raise ValueError("Missing the required parameter `name_1` when calling `grafeas_v1_beta1_update_note`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `grafeas_v1_beta1_update_note`")  # noqa: E501

        if 'name_1' in params and not re.search(r'projects\/[^\/]+\/notes\/[^\/]+', params['name_1']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name_1` when calling `grafeas_v1_beta1_update_note`, must conform to the pattern `/projects\/[^\/]+\/notes\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name_1' in params:
            path_params['name_1'] = params['name_1']  # noqa: E501

        query_params = []
        if 'update_mask' in params:
            query_params.append(('updateMask', params['update_mask']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name_1}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1Note',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def grafeas_v1_beta1_update_occurrence(self, name, body, **kwargs):  # noqa: E501
        """Updates the specified occurrence.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_update_occurrence(name, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :param V1beta1Occurrence body: The updated occurrence. (required)
        :param str update_mask: The fields to update.
        :return: V1beta1Occurrence
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.grafeas_v1_beta1_update_occurrence_with_http_info(name, body, **kwargs)  # noqa: E501
        else:
            (data) = self.grafeas_v1_beta1_update_occurrence_with_http_info(name, body, **kwargs)  # noqa: E501
            return data

    def grafeas_v1_beta1_update_occurrence_with_http_info(self, name, body, **kwargs):  # noqa: E501
        """Updates the specified occurrence.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.grafeas_v1_beta1_update_occurrence_with_http_info(name, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`. (required)
        :param V1beta1Occurrence body: The updated occurrence. (required)
        :param str update_mask: The fields to update.
        :return: V1beta1Occurrence
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'body', 'update_mask']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method grafeas_v1_beta1_update_occurrence" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `grafeas_v1_beta1_update_occurrence`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `grafeas_v1_beta1_update_occurrence`")  # noqa: E501

        if 'name' in params and not re.search(r'projects\/[^\/]+\/occurrences\/[^\/]+', params['name']):  # noqa: E501
            raise ValueError("Invalid value for parameter `name` when calling `grafeas_v1_beta1_update_occurrence`, must conform to the pattern `/projects\/[^\/]+\/occurrences\/[^\/]+/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'update_mask' in params:
            query_params.append(('updateMask', params['update_mask']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1beta1/{name}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1beta1Occurrence',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
